@page
@model BFBlog.Areas.Admin.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Posts";
}

@section DivAcao{
    <a asp-area="Admin" class="btn btn-outline-secondary" asp-page="/Posts/Create"><i class="fa fa-plus"></i> Adicionar</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].DataPublicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Post)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @item.Usuario?.Nome
                </td>
                <td>
                    @item.DataPublicacao?.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.Categoria?.Nome
                </td>
                <td>
                    <a asp-page="./Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                    <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
