@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<style>
    @@media (max-width: 400px) {
        /* Estilos para elementos especificos(responsividade) */
        .img-span {
            margin: auto;
        }

        .text-span {
            text-align: center;
        }

        .div-span {
            flex-wrap: wrap;
        }
    }

    @@media (max-width: 600px) {
        .noticia-span {
            flex-wrap: wrap;
        }

        .noticia-span div {
                margin-left: 0px!important;
            }
    }

    @@media (max-width: 800px) {
        .container div {
            justify-content: space-around!important;
            width: 100%;
        }
        
        .banner-span {
            margin-left: 1rem;
            padding-left: 0rem!important;
            padding-right: 0rem;
        }
    }

    /* Estilos para a modal */
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #fff;
        padding: 20px;
        max-width: 1200px;
        max-height: 500px;
        overflow-y: auto;
    }

    .modal-close {
        position: absolute;
        top: 10px;
        right: 20px;
        cursor: pointer;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary py-4">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/"><img src="/imunometa.png" alt="ImunoMeta" height="50" /> ImunoMeta</a>
        <button class="navbar-toggler border-0">
            <a class="btn text-primary" style="background-color: white;" href="#login">Entrar</a>
        </button>
        <div class="navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        </div>
    </div>
</nav>

<div class="container">
    <div class="d-flex justify-content-between flex-wrap">
        <div class="my-5 col-md-7 ps-3 banner-span">
            <div class="d-flex row border rounded">
                <h1 class="text-center display-2" style="color: #4fbcec; font-weight: bold;">ImunoMeta</h1>
                <h4 class="text-center display-6" style="color: #4fbcec; font-weight: bold;">Seu App de Imunização</h4>
                <span class="h4 py-4 text-center">Aqui Você:</span>
                <div class="d-flex align-items-center div-span" style="background-color: #ebf6fc;">
                    <img class="img-fluid img-span" src="~/FakeNews.png" />
                    <span class="h3 text-span">Se imuniza contra Fake News</span>
                </div>
                <div class="d-flex align-items-center div-span">
                    <img class="img-fluid img-span" src="~/Mapa.png" />
                    <span class="h3 text-span">Descobre os locais de vacinação próximos</span>
                </div>
                <div class="d-flex align-items-center div-span" style="background-color: #ebf6fc;">
                    <img class="img-fluid img-span" src="~/Vacina.png" />
                    <span class="h3 text-span">Verifica sua cobertura vacinal</span>
                </div>
                <div class="d-flex align-items-center div-span">
                    <img class="img-fluid img-span" src="~/Anunciar.png" />
                    <span class="h3 text-span">Tem informações sobre imunização</span>
                </div>
                <div class="d-flex align-items-center div-span" style="background-color: #ebf6fc;">
                    <img class="img-fluid img-span" src="~/Desconto.png" />
                    <span class="h3 text-span">Transforma tudo isso em pontos para você</span>
                </div>
            </div>
        </div>
        <div class="my-5 col-md-4 px-4 py-3 border bg-white rounded" id="login">
            <section>
                <form id="account" method="post">
                    <center>
                        <img src="~/imunometa.png" width="150" />
                        <img src="~/nome.png" width="150" />
                    </center>
                    <h3 class="my-3">@ViewData["Title"]</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="nome@exemplo.com" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="senha" />
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                    <div>
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                    </div>
                    <div class="text-center">
                        <p class="mt-3">
                            <img src="~/gov.png" class="img-fluid" alt="Login com GOV" onclick="alert('Essa opção não está disponível no protótipo.')" />
                        </p>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Esqueceu a senha?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Cadastre-se</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div class="d-flex">
        <div class="col-md-12 border border-1 rounded px-4 bg-primary py-4">
            <h3 class="text-center  text-white">Faça o seu cadastro para poder aproveitar tudo que o ImunoMeta pode oferecer para você!</h3>
        </div>
    </div>
    <div class="d-flex mt-5">
        <div class="col-md-12 border border-1 rounded px-4">
            <h3 class="mt-2 border-bottom border-1">Locais de vacinação próximos a você</h3>
            <div style="height: 500px;" class="my-2 py-3" id="mapCanvas"></div>
        </div>
    </div>
    <div class="d-flex mt-5">
        <div class="col-md-12 border border-1 rounded px-4">
            <h3 class="mt-2">Notícias</h3>
            @if (Model.Noticias.Any())
            {
                @foreach (var noticia in Model.Noticias)
                {
                    <div class="d-flex border-top border-1 noticia-span my-2 py-3">
                        <img src="@noticia.UrlImagemCapa" class="col-12 mb-2 mb-sm-0 col-sm-4 mx-auto" />
                        <div class="d-flex flex-column ms-3">
                            <h5>
                                @noticia.Titulo
                            </h5>
                            <span class="pb-4">
                                @noticia.Resumo
                            </span>
                            <a href="#login" class="btn btn-primary text-white mt-2 align-self-end mt-auto">Saiba mais</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <li>
                    Carregando...
                </li>
            }
            <div id="modal" class="modal d-none">
                <div class="modal-overlay" onclick="handleFecharModal()"></div>
                <div id="informacao" class="modal-content">
                    <span class="modal-close" onclick="handleFecharModal()">&#x274C;</span>
                    <span id="localTitulo" class="h4"></span>
                    <img id="localImg" class="img-fluid border-1" />
                    <p id="localEndereco" class="h5 my-4"></p>
                    <p><strong>Vacinas disponíveis: </strong><span>CoronaVírus, febre amarela, Penta (DTP/Hib/Hep. B), Hepatite A, Tríplice viral, Tetraviral e BCG.</span></p>
                    <a onclick="handleFecharModal()" href="#login" class="btn btn-primary text-white" type="button">Entre em uma conta para avaliar o local</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function handleFecharModal() {
            modal.classList.add("d-none")
        }

        function getCurrentPosition(callback) {
            navigator.geolocation.getCurrentPosition(function (position) {
                callback(true, position.coords.latitude, position.coords.longitude);
            }, function (error) {
                callback(false, 0, 0);
            });
        };

        function loadGoogleMapsScript() {
            return new Promise((resolve, reject) => {
                if (window.google && window.google.maps) {
                    resolve();
                } else {
                    const script = document.createElement("script");
                    script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDmAW7wmqmdXGad7uTul6ziPdRaJVGnJxY&libraries=places";
                    script.async = true;
                    script.defer = true;
                    script.onload = resolve;
                    script.onerror = reject;
                    document.head.appendChild(script);
                }
            });
        }

        function initializeMap (latitude, longitude, locais) {
            const mapOptions = {
                center: { lat: latitude, lng: longitude },
                zoom: 14
            };

            const map = new google.maps.Map(document.getElementById("mapCanvas"), mapOptions);

            var iconeVacinacao = {
                url: '@Url.Content("~/localizacao.png")',
                scaledSize: new google.maps.Size(70, 70)
            };

            var iconeUsuario = {
                url: '@Url.Content("~/usuario.png")',
                scaledSize: new google.maps.Size(70, 70)
            };

            var usuario = new google.maps.Marker({
                position: { lat: latitude, lng: longitude },
                map: map,
                icon: iconeUsuario,
                title: 'Você'
            });

            locais.forEach(local => {
                var marcador = new google.maps.Marker({
                    position: { lat: local.Latitude, lng: local.Longitude },
                    map: map,
                    icon: iconeVacinacao,
                    title: local.nome
                })

                marcador.addListener('click', function () {
                    var modal = document.getElementById("modal");
                    var informacao = document.getElementById("informacao");

                    var titulo = document.getElementById("localTitulo");
                    var endereco = document.getElementById("localEndereco");
                    var img = document.getElementById("localImg");

                    titulo.innerHTML = local.Nome
                    img.removeAttribute("src")
                    img.setAttribute("src", `https://maps.googleapis.com/maps/api/staticmap?center=${local.Latitude},${local.Longitude}&zoom=12&size=600x600&scale=2&markers=color:red|label:A|${local.Latitude},${local.Longitude}&key=AIzaSyDmAW7wmqmdXGad7uTul6ziPdRaJVGnJxY`)
                    endereco.innerHTML = `${local.Endereco}, ${local.Cidade}, ${local.Uf}`


                    modal.classList.remove("d-none");
                })
            })
        }
        (async function () {
            await loadGoogleMapsScript();
            await initializeMap(-15.7801, -47.9292, JSON.parse('@Html.Raw(@System.Text.Json.JsonSerializer.Serialize(Model.ListaPontosVacinacao))'));

            getCurrentPosition(function (success, latitude, longitude) {
                if (success) {
                    initializeMap(latitude, longitude, JSON.parse('@Html.Raw(@System.Text.Json.JsonSerializer.Serialize(Model.ListaPontosVacinacao))'));
                } else {
                    initializeMap(-15.7801, -47.9292, JSON.parse('@Html.Raw(@System.Text.Json.JsonSerializer.Serialize(Model.ListaPontosVacinacao))'));
                }
            });
        })();
    </script>
}
